<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Viruj Balasoupramanien</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel=apple-touch-icon sizes=180x180 href=../assets/images/apple-touch-icon.png>
	<link rel=icon type=image/png sizes=32x32 href=../assets/images/favicon-32x32.png>
	<link rel=icon type=image/png sizes=16x16 href=../assets/images/favicon-16x16.png>
	<link rel="shortcut icon" href=../assets/images/favicon.ico type=image/x-icon>
	<link rel=manifest href=../assets/images/site.webmanifest>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
		integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel=stylesheet href='../styles/main.css'>
	<script defer src='../scripts/theme.js'></script>
	<script defer src='../scripts/pages.js'></script>
</head>

<body>
	<div id="container--main">
		<a href="../main.html#projects"><i class="fa-solid fa-arrow-left-long"></i> Go Back</a>
		<h1>Galloping Footprints</h1>

		<div class="project--body">
			<p>
				Galloping Footprints is a book of verse from young South Africans aged up to 13 years. In their 2007
				contest the tenth book was published, where amongst thousands of entries I had my poem published.
				Although it was not a prize-winning poem, my 10 year old self did get an honorable mention 😁.
			</p>
		</div>
		<div id="poem">
			<h3>Alone</h3>

			<p>Stranded on an island</p>
			<p>Perched on the sand</p>
			<p>All your eyes can see is the Water</p>
			<p>Without my mother and father</p>
			<p>On the face of the water you gaze at a fin</p>
			<p>As sharp as the tip of a pin</p>
			<p>Maybe it belongs to a shark</p>
			<p>It's now getting dark</p>
			<p>I'm alone without a single friend</p>
			<p>When will it all end...?</p>
		</div>

		<div id="pages"></div>
	</div>

	<div id="theme-toggle" class="fas fa-sun" title="Light mode"></div>
</body>

</html>