<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Viruj Balasoupramanien</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel=apple-touch-icon sizes=180x180 href=../assets/images/apple-touch-icon.png>
	<link rel=icon type=image/png sizes=32x32 href=../assets/images/favicon-32x32.png>
	<link rel=icon type=image/png sizes=16x16 href=../assets/images/favicon-16x16.png>
	<link rel="shortcut icon" href=../assets/images/favicon.ico type=image/x-icon>
	<link rel=manifest href=../assets/images/site.webmanifest>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
		integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel=stylesheet href='../styles/main.css'>
	<script defer src='../scripts/theme.js'></script>
	<script defer src='../scripts/pages.js'></script>
</head>

<body>
	<div id="container--main">
		<a href="../main.html#projects"><i class="fa-solid fa-arrow-left-long"></i> Go Back</a>
		<h1>Portfolio</h1>

		<div class="project--body">
			<p>
				A while back I stumbled on this pretty great YouTube channel by <a class="links"
					href="https://www.youtube.com/@Hyperplexed/videos" target="_blank">Hyperplexed</a> that shows how to
				recreate some amazing things on the web. There were 2 videos in particular that piqued my interest. They
				were based off some effects present on the <a class="links" href="https://kprverse.com/"
					target="_blank">KPR</a> and <a class="links" href="https://www.poppr.be/en"
					target="_blank">poppr</a> sites. So I thought I would try recreating them but I wanted to make
				something in the process too. Not knowing what to make, I made another <a
					href="https://portfolio-viruj.netlify.app/" target="_blank">digital CV</a> of sorts.
			</p>
			<p>
				Well it started off as just trying to recreate the 2 effects presented by Hyperplexed, then I wanted to
				combine them. Did that and I was soon finding other ideas to include in this project. Other things I saw
				in the 2 websites and also using some things I had been meaning to try out like Firebase. So I used
				Svelte to build the SPA. I initially hardcoded the data I wanted to present on the site but then
				firgured that since I am always doing something related to my data why not have it pulled from
				somewhere? That's when I thought of giving Firebase a try. Using the Realtime Database, Storage and
				Firestore Database services, I was able to build my site. It would have probably been a lot easier if I
				had just used SvelteKit and Firebase (the FKit stack as coined by <a class="links" target="_blank"
					href="https://youtu.be/rFP7rUYtOOg?t=517">Fireship</a>), but I didn't really plan this and was just
				adding things as I went along.
			</p>
		</div>

		<div id="pages"></div>
	</div>

	<div id="theme-toggle" class="fas fa-sun" title="Light mode"></div>
</body>

</html>