<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Viruj Balasoupramanien</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel=apple-touch-icon sizes=180x180 href=../assets/images/apple-touch-icon.png>
	<link rel=icon type=image/png sizes=32x32 href=../assets/images/favicon-32x32.png>
	<link rel=icon type=image/png sizes=16x16 href=../assets/images/favicon-16x16.png>
	<link rel="shortcut icon" href=../assets/images/favicon.ico type=image/x-icon>
	<link rel=manifest href=../assets/images/site.webmanifest>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
		integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel=stylesheet href='../styles/main.css'>
	<script defer src='../scripts/theme.js'></script>
</head>

<body>
	<div id="container--main">
		<a href="../main.html#projects"><i class="fa-solid fa-arrow-left-long"></i> Go Back</a>
		<h1>Terminal Site</h1>

		<div class="project--body">
			<p>
				For some time now I've been meaning to make a <a href="https://viruj-portfolio.netlify.app/"
					target="_blank">personal portfolio</a>. I am not the most creative person and so never had a solid
				idea of how I would do it. There are many great examples out there and I did take inspiration from a
				few. But why it took me so long despite so many ideas is the complexity of these projects. Looking at
				other people's portfolios is intimidating 😓. I know I shouldn't be but looking at what's possible and
				having little to no idea how to do it does not help!
			</p>
			<p>
				I like to play around a lot with the CLI and by some stroke of luck fell on some YouTube videos on
				terminal-themed websites. So I thought why not make one myself? It might not be the flashiest of
				portfolios and definitely not perfect but I had fun making it.
			</p>
			<p>
				Initially, I planned making it using qwik after hearing so much about it. I gave it a shot and although
				it isn't hard to grasp I had some trouble with the event listeners. So I gave up a little too easily on
				it and decided to build it in svelte. I have some experience with react and solid js but not much in
				svelte. Thought this would be a great opportunity to learn it and it was.
			</p>
			<p>
				Now it wasn't all as smooth as I'd hoped but I managed to make something from the ground up and finally
				got a better understanding of this framework. Using a framework was a little overkill for this type of
				project I feel. It definitely would have been a lot simpler if I did it using vanilla js. But it was a
				great learning experience and I had fun 😁!
			</p>
		</div>

		<h4>Curious about my other projects:</h4>
		<div class="navigation-btns">
			<a href="git.html" title="GitBatchClone"><i class="fa-brands fa-github"></i></a>
			<a href="portfolio.html" title="Portfolio"><i class="fa-solid fa-book-bookmark"></i></a>
			<a href="masters.html" title="Master's Thesis"><i class="fa-solid fa-grip-lines"></i></a>
			<a href="wr.html" title="Digitizing Workflow"><i class="fa-solid fa-computer"></i></a>
			<a href="bachelors.html" title="Bachelor's Thesis"><i class="fa-solid fa-brain"></i></a>
			<a href="warman.html" title="Warman Competition"><i class="fa-solid fa-robot"></i></a>
			<a href="poem.html" title="Poem"><i class="fa-solid fa-scroll"></i></a>
		</div>
	</div>

	<div id="theme-toggle" class="fas fa-sun" title="Light mode"></div>
</body>

</html>