<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Viruj Balasoupramanien</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel=apple-touch-icon sizes=180x180 href=../assets/images/apple-touch-icon.png>
	<link rel=icon type=image/png sizes=32x32 href=../assets/images/favicon-32x32.png>
	<link rel=icon type=image/png sizes=16x16 href=../assets/images/favicon-16x16.png>
	<link rel="shortcut icon" href=../assets/images/favicon.ico type=image/x-icon>
	<link rel=manifest href=../assets/images/site.webmanifest>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
		integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel=stylesheet href='../styles/main.css'>
	<script defer src='../scripts/theme.js'></script>
	<script defer src='../scripts/pages.js'></script>
</head>

<body>
	<div id="container--main">
		<a href="../main.html#projects"><i class="fa-solid fa-arrow-left-long"></i> Go Back</a>
		<h1>Warman Competition</h1>

		<div class="project--body">
			<p>
				The <a href="https://warmandesignandbuild.org.au/" target="_blank">Warman Competition</a>
				was designed to test aspiring mechanical engineers' abilities to analyze and solve problems. It
				challenges students to come up with practical solutions to theoretical problems. Students are given an
				objective whereby they are to design and build a robot to accomplish the given tasks. Building a
				complete robot brings together mechanical design, programming and electronics.
			</p>
			<p>
				I took part in the Warman competition heats in 2017. Our objective was to collect 6 balls of varying
				sizes, sort them by size and deposit them in the appropriate bins. We designed and built a four-wheel
				drive robot that used the weight and volume of the balls for sorting. An Arduino board was programed to
				help our robot navigate the track to the bins, where it would then deposit the different balls.
			</p>
			<p>
				I unfortunately did not keep a video of my robot and neither did my teammates. Never thought I would
				have switched to the IT field, nor did I think at the time that I would need something like this that
				would have been great to showcase 😅.
			</p>
		</div>

		<div id="pages"></div>
	</div>

	<div id="theme-toggle" class="fas fa-sun" title="Light mode"></div>
</body>

</html>